.sidebar-header{
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo{
  text-decoration: none;
  color: #FFFFFF;
  padding: 20px;
}

.logo:hover{
  color: #0274d1;
}

.pro-sidebar{
  min-width: 230px;
}

.pro-sidebar > .pro-sidebar-inner{
  background-color: #024A85;
}

.pro-sidebar .pro-menu a:before{
  position: relative;
}

.pro-sidebar .pro-menu a{
  color: #FFFFFF;
}

.pro-sidebar .pro-menu.square .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius: 50%;
}